@font-face {
    font-family: "Signature";
    src: local("Signature"), url(./logo-type/Signatie.ttf) format("truetype");
    font-display: fallback;
}

@font-face {
    font-family: "Roobert";
    src: local("Roobert"), url(./logo-type/Roobert.ttf) format("truetype");
    font-display: fallback;
}
